<div class="jumbo">
<h1 class="text-primary"> user works! </h1>

<ul class="list-group">
<li class="list-group-item mb-2 bg-info" *ngFor="let user of users">

    <div class="row">
        <div class="col-md-4">
            <img [src]="user.image" width="100" height="100" alt="Image not found" class="img-fluid">   
        </div>
        <div class="col-md-8">
            <h2> Name : {{user.firstname}}  {{user.lastname}} </h2>
            <h3 *ngIf="user.age"> Age : {{user.age}}</h3>
            <h3> Addesss : {{user.address.door}} , {{user.address.place}} , {{user.address.city}} </h3>
            <h3> Mobile : {{user.mobile}} </h3>
        </div>
    </div>
</li>
</ul>
</div>